<nav class="bg-white border-bottom shadow-sm">
  <div class="container max-w-5xl-card mx-auto px-4 px-sm-5">
    <ul class="nav nav-pills nav-fill py-2">
      <!-- nav-link active 클래스를 사용하여 현재 페이지 강조 -->
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#">
          <i class="bi bi-journal-check me-2"></i>집중 카운트
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#">
          <i class="bi bi-journal-check me-2"></i>지도로 보기
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active fw-bold bg-main-light-blue text-main-dark-blue" aria-current="page" href="#">
          <i class="bi bi-journal-check me-2"></i>메인 페이지
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#">
          <i class="bi bi-map me-2"></i>해야 할 일
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#">
          <i class="bi bi-person me-2"></i>마이 페이지
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#">
          <i class="bi bi-gear me-2"></i>로그아웃
        </a>
      </li>
    </ul>
  </div>
</nav>