<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Test</title>
</head>
<body>
    <h1> API TEST </h1>

    <label> Title: </label>
    <input type="text" id="title" placeholder="Enter title"><br><br>

    <label for="content">Content:</label>
    <input type="text" id="content" placeholder="Enter content"><br><br>

    <button id="submitBtn" type="submit">Api test</button>
    <div id="result"></div>
    <script type="module" src="/zipjung_web/src/js/main.js"></script>
</body>
</html>